.discover-main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.icon-section {
    display: flex;
}
.icon {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    background-color: #202027;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-bottom: 2rem;
}

.discover-main-section .covers-img {
    width: 30vw;
    height: auto;
    margin-left: 2rem;
    max-width: 350px;
}
@media (max-width: 800px) {
    .discover-main-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .covers-img {
        margin-top: 2rem;
        height: 30vh;
        width: auto;
    }
    .cta {
        text-align: center;
    }
    .icon-section {
        justify-content: center;
    }
}